@apap:registry=https://pkgs.dev.azure.com/APAPDigital/_packaging/APAP-Packages/npm/registry/
@apap-types:registry=https://pkgs.dev.azure.com/APAPDigital/_packaging/APAP-Packages/npm/registry/
always-auth=true
registry=https://registry.npmjs.org/